@import "../../styleHelpers.scss";

.root {
  margin-bottom: majorScale(5);
}

.autocompleteWrapper {
  display: flex;
  max-width: 250px;
}

.inputWrapper {
  position: relative;
  width: 100%;
  max-width: 200px;
}

.input {
  width: 100%;

  &.loading {
    padding-right: 44px;
  }
}

.inputSpinner {
  position: absolute;
  top: 4px;
  right: 10px;
}
